{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/forum_discussion_nested_posts

    Template to render a list of posts in a nested format.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script type="text/javascript">
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
</script>

<script type="text/javascript">
    function sendReaction(reactionid, userid, postid) {
        $.ajax({
            url:'/blocks/',
            type:'post',
            data:$('#reactionsForm'+reactionid+'-'+userid+'-'+postid).serialize(),
            success:function(){
                alert("worked");
            },
            fail:function(){
                alert("failed");
            }
        });
    }
</script>

<script type="text/javascript">
    function getReactions(postid) {
        console.log("Executei getreactions");
        $.ajax({
            url:'/blocks/reactions/get_reactions_ajax.php',
            type:'post',
            data:{ 'postid': postid },
            success:function(response){
                for (var i=0; i<4; i++) {
                        el = document.getElementById("labelsendreaction" + i + "-" + postid);
                    if (response[i]) {
                        el.innerHTML = response[i].reactions_count;
                    }
                    else {
                        el.innerHTML = 0;
                    }
                }
            },
            fail:function(){
                console.error("failed");
            }
        });
    }
</script>

{{#posts}}
    {{> mod_forum/forum_discussion_nested_post }}
{{/posts}}
